body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#registration, #login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 350px;
}

h2 {
    color: #333;
    text-align: center;
}

form input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 8px;
    margin: 5px;
    border-radius: 3px;
    font-size: 15px;
    background-color: #0074D9;
    color: white;
    border: none;
    cursor: pointer;
}

#secured-page {
    display: none;
}
